@import url(https://fonts.google.com/specimen/Neucha);
body {
    font-family: "Neucha", sans-serif;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todo{
    width: 100%;
    height: 98vh;
    background-color: rgba(241, 213, 118, 0.788);
    color: darkslategrey;
}

.barra span { 
    color: rgb(155, 72, 4);
}

.barra{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: large;
    
}
.menu li{
    list-style: none;
    padding-right: 20px;
}

.menu a {
    color: darkolivegreen;
    text-decoration: none;
    padding: 10px 20px;
}
.menu .activa{
    color: rgb(168, 21, 95);
}
.menu a:hover {
background-color: hotpink;
color: white;
transition: ease-in .04s;
border-radius: 20px;
}
.marca { 
    margin-top: -7px;
}
img {
    width: 800px;
    height: 800px;
}
.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
h1 {
    font-size: 3m;
   color: rgb(236, 7, 160);
}
p {
    font-size: 2em;
    color: rgb(209, 84, 132);
}
.descargarCV{
    padding: 10px 20px;
    background-color: rgb(192, 85, 151);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    color: beige;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(300,102,87, 69);
}
.descargarCV:hover{
    background-color: mediumpurple;
}
.main img {
    width: 800px;
    height: 700px;
    border: 7px solid darkgoldenrod
}
.sobremi {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}
.sobremi img {
    width: 100%;
    grid-column: 1/5;
}
.sobremi-info {
    grid-column: 5/10;
    padding: 3em;
}
.sobremi-info h2{
    font-size: 2em;
    color: hotpink;
}
.divider{
    height: 4px;
    width: 60px;
    background-color:  rgb(245, 205, 96);
    margin-top: 10px;
    margin-bottom: 2em;
}

.sobremi p{
    margin-bottom: 1em;
}

.obras h2{
    font-size: 2em;
    color: hotpink;
    margin-top: 40px;
}
.obras img{
    width: 600px;
    height: 600px;
    margin-left: 20px;
    margin-bottom: 100px;
}
.obras{
    width: 100%;
    height: 100%;
    background-color:rgba(241, 213, 118, 0.788) ;

}
#descripcion1{
    background-color: pink ;
    margin-left: 20px;
    margin-right: 35px;
    margin-bottom: 50px;
    text-align: center;
    font-size: larger;
}
.contenido-contacto img{
    width: 750px;
    height: 700px;
    bottom: 0px;
    margin-left: 50px;
}
.contacto-seccion{
    margin: 0 auto;
    padding: 3em ;
    background-color: pink
}

.contenido-contacto {
    background-color: pink;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}
.contacto-encabezado h2{
    font-size: 3em;
}
.contacto-form {
    margin-left: 200px;
    justify-content: space-between;
    padding: 2em;
}
.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}
.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.form textarea{
    height: 150px;
    background: none;
    color: white;
    padding: 1.5em;
    border: 1px solid white;
}
.boton{
    padding: 10px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: hotpink;
    border-radius: 20px;
    cursor: pointer;
}
